body{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-family: 'Cairo', sans-serif;
}
code{
  direction: ltr !important;
  text-align: left !important;
}
.card-img-overlay {
    position: inherit !important;
    top: 10px !important;
    right: 10px !important;
    bottom: 2px !important;
    left: 0px !important;
    padding: 1.25rem !important;
    background-color: #32234b !important;
 }
.mb-5, .my-5 {
    margin-bottom: 16rem !important;
}
p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}
p, a, .h2, .h4, .h5, .h6{
font-family: 'Cairo', sans-serif;
line-height: 1.9em;	
}
.h1{
	font-family: 'Cairo', sans-serif !important;
}
.h4{
	font-family: 'Cairo', sans-serif !important;
}
.h5{
	font-family: 'Cairo', sans-serif !important;
}
.h6{
	font-family: 'Cairo', sans-serif !important;
	font-size: 12px !important;
}
.pr2{
	font-size: 12px;
}
.pr{
	font-size: 15px !important;
	line-height: 1.8em !important;
}
.pr1{
	font-size: 17px  !important;
	line-height: 1.7em !important;
	font-family: 'Cairo', sans-serif !important;
	line-height: 2em !important;
}
.pr3{
	font-size: 20px  !important;
	line-height: 1.7em !important;
	font-family: 'Cairo', sans-serif !important;
	line-height: 2em !important;
	margin-bottom: 2em !important;
}
.row{
	font-family: 'Cairo', sans-serif;
}

.container{
	width: 95%;
	margin: auto;
}
/*navbar*/
.navbar .bg-primary {
    background-color: #32234b !important;
}
.navbar-dark .navbar-brand{
	font-family: 'Lalezar', cursive;
	font-size: 35px ;

}
.card{
	border:none !important;
}
.display-4{
	font-family: 'Lalezar', cursive;

}
.form-inline{
	margin-right: 5em;
}

.form-control .btn{
    color: #f5f5f5;
   
    background-image: none;
    border-color: #28a745;
}
.first-row{
	margin-top: 10em;
}
.hr{
	border-top: 1px solid rgb(178, 211, 246);
}
.dropdown-item:hover{
	background-color: #32234b !important;
	
	color: #fff !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}
.navbar-dark .navbar-nav .nav-link:hover{
	

}

/*end navbar*/

/*jubotron*/
.jumbotron {
    
    background-color: #e8f3ec !important;
    
}
.list-unstyled{
	display: inline-flex;
}
.list-unstyled li{
	margin-right: 2.5em;
}
.fa, .fas {
    
    font-size: 2em;
}
#navbarsExample07 .nav-link {
	text-decoration: none;
    color: #212529 !important;
}
#navbarsExample07 .nav-link:hover{
	background-color: #32234b !important;
	
	color: #fff !important;
	border-radius: 5px;
}


/*end jubotron*/

/*********footer*******************/
footer{
	background-color:#fff;
    padding: 60px 0px;
}

footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:50px;
}

footer ul li{
    float:left;
}



footer ul li a:hover{
	color:#7dabdb;
	text-decoration:none;
}



.footer-top .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
}

.footer-top a{
    color:#FFF;
    text-decoration:none;
}

.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color:#7dabdb;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
	font-size:12px;
	padding:15px 0 10px 0;
}

footer ul li a {
    color: #545453;
    padding: 20px;
}
.div{
	float: left;
}




.copyright{
		padding:20px 0px; 
		color: #ccc;
}
.foot-link{
	float: right;
	padding:20px 0px; 
	margin-top:50px;
	margin-left:0;

}
.foot-link ul{
	list-style-type: none;

}

.foot-link ul li a{
	list-style-type: none;
	float: left;
	color: #000;
	padding: 3px 6px;
	height: 30px;width: 30px;
	margin-right:  5px;
}

.fb a:hover{
	background-color: #3b5998;
	border-radius: 50px;
	border:1px solid #fff;
	transform: scale(1.5) rotate(360deg) ;
	transition: 0.5s;
	box-shadow: 0 0 10px #000;
	color:#fff;
}
.tw a:hover{
	background-color: #00aced;
	border-radius: 50px;
	border:1px solid #fff;
	transform: scale(1.5) rotate(360deg) ;
	transition: 0.5s;
		box-shadow: 0 0 10px #000;
	color:#fff;
}
.gp a:hover{
	background-color: #df4b37;
	border-radius: 50px;
	border:1px solid #fff;
	transform: scale(1.5) rotate(360deg) ;
	transition: 0.5s;
	box-shadow: 0 0 10px #000;
	color:#fff;
}
.lin a:hover{
	background-color: #0d77b7;
	border-radius: 50px;
	border:1px solid #fff;
	transform: scale(1.5) rotate(360deg) ;
	transition: 0.5s;
		box-shadow: 0 0 10px #000;
	color:#fff;
}
.foot-link ul li {
    list-style-type: none;
    float: left;
    margin-right: 6em;
    font-size: 8px;
}
.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    float: left;
}
/* end footer */


/*login*/
 .main {
    max-width: 320px;
    margin: 0 auto;
  }
  .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  h3 {
    text-align: center;
    line-height: 300%;
  }
  .rows{
  	margin-top: 10em;
  }
  .btn-primary {
   
    float: left !important;
}
h3, .h3 {
    font-size: 1.2rem !important;
}
/* end login*/

/*nav*/
nav{
	margin-top: 5em;
}

.imgg{
	max-height: 50px !important;
min-height: 50px !important;
max-width: 57px !important;
}
/*list groupe*/
.list-group-item {
	border:none !important;
}
.list-group-item:hover{
	background-color: #eee !important;
	transform: scale(1) rotate(2deg) ;
	

}
/*end list groupe*/

/* end nav*/
#contact .card:hover i,#contact .card:hover h4{
	color: #87d37c;
}
/*contact*/
.contact-form{ margin-top:15px;}
.contact-form .textarea{ min-height:220px; resize:none;}
.form-control{ box-shadow:none; border-color:#eee; height:49px;}
.form-control:focus{ box-shadow:none; border-color:#00b09c;}
.form-control-feedback{ line-height:50px;}
.main-btn{ background:#00b09c; border-color:#00b09c; color:#fff;}
.main-btn:hover{ background:#00a491;color:#fff;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}
/* end contact */

/* social */
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

/* end social */


/* comment*/

.widget-area {
background-color: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
float: left;
margin-top: 30px;
padding: 25px 30px;
position: relative;
width: 100%;
}
.status-upload {
background: none repeat scroll 0 0 #f5f5f5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
float: left;
width: 100%;
}
.status-upload form {
float: left;
width: 100%;
}
.status-upload form textarea {
background: none repeat scroll 0 0 #fff;
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #777777;
float: left;
font-family: Lato;
font-size: 14px;
height: 142px;
letter-spacing: 0.3px;
padding: 20px;
width: 100%;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
}

.status-upload ul {
float: left;
list-style: none outside none;
margin: 0;
padding: 0 0 0 15px;
width: auto;
}
.status-upload ul > li {
float: left;
}
.status-upload ul > li > a {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #777777;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
margin: 10px 0 10px 10px;
text-align: center;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
width: 30px;
cursor: pointer;
}
.status-upload ul > li > a:hover {
background: none repeat scroll 0 0 #606060;
color: #fff;
}
.status-upload form button {
border: medium none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #fff;
float: right;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
}
.dropdown > a > span.green:before {
border-left-color: #2dcb73;
}
.status-upload form button > i {
margin-right: 7px;
}


/*end comment*/

/*comment text*/





.comments {
  margin: 2.5rem auto 0;
  max-width: 60.75rem;
  padding: 0 1.25rem;
}

.comment-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}

.photo {
  padding-top: 0.625rem;
  display: table-cell;
  width: 3.5rem;
}
.photo .avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-size: contain;
}

.comment-block {
  padding: 1rem;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.1875rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.comment-block textarea {
  width: 100%;
  resize: none;
}

.comment-text {
  margin-bottom: 1.25rem;
}

.bottom-comment {
  color: #acb4c2;
  font-size: 0.875rem;
}

.comment-date {
  float: left;
}

.comment-actions {
  float: right;
}
.comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}
.comment-actions li.complain {
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
}
.comment-actions li.reply {
  padding-left: 0.75rem;
  padding-right: 0.125rem;
}
.comment-actions li:hover {
  color: #0095ff;
}



/* end comment text*/



/*social media */
@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #32234b;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-google-plus:hover {
    background: #e64522;
}

.social .fa-github:hover {
    background: #343434;
}

.social .fa-pinterest:hover {
    background: #cb2027;
}

.social .fa-linkedin:hover {
    background: #0094BC;
}

.social .fa-flickr:hover {
    background: #FF57AE;
}

.social .fa-instagram:hover {
    background: #375989;
}

.social .fa-vimeo-square:hover {
    background: #83DAEB;
}

.social .fa-stack-overflow:hover {
    background: #FEA501;
}

.social .fa-dropbox:hover {
    background: #017FE5;
}

.social .fa-tumblr:hover {
    background: #3a5876;
}

.social .fa-dribbble:hover {
    background: #F46899;
}

.social .fa-skype:hover {
    background: #00C6FF;
}

.social .fa-stack-exchange:hover {
    background: #4D86C9;
}

.social .fa-youtube:hover {
    background: #FF1F25;
}

.social .fa-xing:hover {
    background: #005C5E;
}

.social .fa-rss:hover {
    background: #e88845;
}

.social .fa-foursquare:hover {
    background: #09B9E0;
}

.social .fa-youtube-play:hover {
    background: #DF192A;
}
/* end social media */

/* share article index*/


.social1 ul {
  padding: 0px;
 
}

.social1 ul li {
    display: block;
    margin: 3px;
    background-color: #fff;
    color: #fff;
   
    text-align: left;
    padding: 5px;
   
}

.social1 ul li:hover {
 
   background-color: none !important;
}

.social1 ul li:hover a {
  color: #000;
}

.social1 ul li:hover i {
  color: #fff;
   background: #32234b;


 
}

.social1 ul li i {
   margin-right: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px; 
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);


}
/* end share article undex*/

/* show more*/

.div {
    display:none;
   
}



#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
#loadMore:hover {
    background-color: #fff;
    color: #33739E;
}
/*end show more*/


@media(max-width: 990px){


.navbar-nav{
  display: table-row-group !important;
}


}

@media(max-width: 400px){


.img-fluid {
   
    max-height: 11em !important;
}

}

